.DS_Store
node_modules
/build
prisma/*
!prisma/schema.prisam
!prisma/schema.prisam
!prisma/seed.js
!prisma/initial-data
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
